body {
    background: linear-gradient(#2d2838, #1a1822);
    color: #f0f0f0;
    font-family: "Times New Roman", "Yu Mincho", "MS Mincho", serif;
    line-height: 2;
}

/* 整個內容區 */
.container {
    width: 520px;
    margin-left: 140px;
    margin-top: 120px;
    padding-left: 40px;
    border-left: 1px solid #555;
}

/* 標題 */
h1 {
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 32px;
    margin-bottom: 40px;
    text-shadow: 0 0 12px rgba(255,255,255,0.15);
}

/* 引言文字 */
.quote {
    margin: 60px 0;
    font-style: italic;
    color: #bbbbbb;
    border-left: 2px solid #777;
    padding-left: 15px;
}

/* 分隔線 */
hr {
    border: none;
    border-top: 1px solid #666;
    margin: 40px 0;
}

/* 連結 */
a {
    color: #ffffff;
    text-decoration: none;
    line-height: 2.4;
    letter-spacing: 2px;
    transition: 0.3s;
}

a:hover {
    color: #dddddd;
    text-shadow: 0 0 6px #aaaaaa;
}

/* 底線動畫 */
a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s;
}

/* 滑鼠移上去 */
a:hover {
    color: #dddddd;
    text-shadow: 0 0 6px #aaaaaa;
}

a:hover::after {
    width: 100%;
}

p {
    max-width: 480px;
    letter-spacing: 1px;

}








